{% load staticfiles %}
<html>
	<head>
		<title>Bunk</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/bunk.css' %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="page-header">
			{% if user.is_authenticated %}
				<a href="{% url 'bunk.views.bunk_someone' %}" class="top-menu">Bunk <span class="glyphicon glyphicon-hand-right" id="bunk_someone"></span></a>
				<p class="top-menu">{{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>) |</small></p>
			{% else %}
			<a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}
			{% if message %}
				<h1><a href="/">{{message}}</a></h1>
			{% else %}
				<h1><a href="/">Bunked'-></a></h1>
			{% endif %}
		</div>

		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>